body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #1c1e1f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb00;
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
    height: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(21, 23, 24, 0.7);
    color: #fff;
    padding: 20px 20px;
    font-family: 'Merriweather', serif;
    font-size: 4rem;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* .intro p {
    flex: 1;
    margin-right: 20px;
}

.intro img {
    width: 300px;
    height: auto;
    border-radius: 8px;
} */

.history {
    background-color: #091f0c;
    color: #e9c46a;
    padding: 40px 20px;
    text-align: center;
}

.history h2 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}

.history-content img {
    max-width: 200px;
}

.adventures {
    text-align: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.adventures h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}

.adventures-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.adventures-gallery figure {
    width: 150px;
    text-align: center;
}

.adventures-gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.adventures-gallery figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
}

footer {
    background-color: #054e05;
    color: #fff;
    text-align: center;
    padding: 1px;
}

footer .socialmedia {
    margin-top: 0px;
}

footer .socialmedia a img {
    width: 24px;
    margin: 0 10px;
}
